@use '../../abstracts/mixins/flex';
@use '../../abstracts/variables/breakpoints';
@use '../../abstracts/mixins/text-variant.scss';

.intro {
  @include flex.flex-column($align: center);
  &__image {
    height: clamp(16.375rem, 12.957rem + 14.021vw, 19.688rem);
    transform: scaleX(-1);
    z-index: 1;
    position: relative;
    top: 40px;
  }

  &__subtitle-image {
    display: none;
  }

  &__subtitle-layout {
    display: flex;
  }

  &__content {
    @include flex.flex-column();
    gap: 10px;
    padding: 25px;
    padding-top: 70px;
  }

  &__title {
    text-align: center;
    font-size: clamp(1.875rem, 1.488rem + 1.587vw, 2.25rem);
  }

  &__subtitle {
    padding: 0 15px;
  }

  &__buttons-layout {
    @include flex.flex-column($gap: 10px);
  }

  &__button--alt {
    @include flex.flex-row-center-all($gap: 5px);
    border: 1px solid;
  }

  &__button-icon {
    font-size: 20px;
  }
}

@media screen and (min-width: breakpoints.$breakpoint-mobile-max) {
  .intro {
    &__title {
      font-size: clamp(2.25rem, -0.821rem + 6.399vw, 4.938rem);
      text-align: start;
    }
    &__content {
      padding: 36px;
      padding-top: 38px;
      gap: 20px;
    }
    &__subtitle-image {
      display: block;
      height: clamp(4.375rem, 3.732rem + 1.339vw, 4.938rem);
    }
    &__subtitle {
      padding: 0 30px;
      font-size: clamp(1rem, 0.429rem + 1.19vw, 1.5rem);
    }
    &__image {
      height: clamp(19.688rem, 7.188rem + 26.042vw, 30.625rem);
    }
    &__subtitle-layout {
      align-items: center;
    }
    &__buttons-layout {
      flex-direction: row;
      justify-content: space-between;
    }
    &__button {
      padding: 10px;
      width: 150px;
    }
  }
}

@media screen and (min-width: calc(breakpoints.$breakpoint-tablet-max - 10px)) {
  .intro {
    margin-top: 52px;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 12px;
    &__image {
      top: 0;
    }
  }
}

@media screen and (min-width: breakpoints.$breakpoint-tablet-max) {
  .intro {
    &__content {
      padding: 50px;
    }
    &__subtitle-image {
      width: 80px;
    }
    &__subtitle {
      padding: 0 30px;
      font-size: 24px;
    }
    &__buttons-layout {
      justify-content: space-around;
    }
    &__button {
      font-size: 20px;
      padding: 10px;
      width: 200px;
    }
    &__button-icon {
      font-size: 40px;
    }
  }
}
