@use '../../abstracts/mixins/text-variant.scss';

@font-face {
  font-family: 'Ubuntu';
  src: url('../../fonts/ubuntu-regular-webfont.woff') format('woff2'),
    url('../../fonts/ubuntu-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Righteous';
  src: url('../../fonts/righteous-regular-webfont.woff2') format('woff2'),
    url('../../fonts/righteous-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.text-inner {
  @include text-variant.text-variant('Ubuntu', 18px, 1.17);
}

.text-inner-small {
  @include text-variant.text-variant('Ubuntu', 16px, 1.19);
}

.text-heading-1 {
  @include text-variant.text-variant('Righteous', 70px, 1.24);
}

.text-heading-2 {
  @include text-variant.text-variant('Righteous', 48px, 1.25);
}

.text-heading-3 {
  @include text-variant.text-variant('Righteous', 36px, 1.25);
}

.text-heading-special {
  @include text-variant.text-variant('Righteous', 30px, 1.25);
}

.text-subheading {
  @include text-variant.text-variant('Righteous', 34px, 1.235);
}

.text-title {
  @include text-variant.text-variant('Righteous', 24px, 1.25);
}

.text-button {
  @include text-variant.text-variant('Righteous', 20px, 1.25);
  letter-spacing: 0.05em;
}

.text-button-small {
  @include text-variant.text-variant('Righteous', 16px, 1.25);
  letter-spacing: 0.05em;
}
