:root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-inline-size: 100%;
}

input,
button,
textarea,
select,
pre {
  font: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  box-sizing: border-box;
  --base-font-family: Arial;
  --main-white: #ffffff;
  --main-background-color: #1a173d;
  --main-orange: #e25300;
  --main-purple: #5133a6;
  --main-orange-gradient-fallback: rgb(245, 194, 146);
  --main-orange-gradient: radial-gradient(rgb(245, 194, 146) 25%, rgb(241, 150, 65) 85%);
  --main-purple-gradient-fallback: rgb(133, 100, 187);
  --main-purple-gradient: linear-gradient(rgb(133, 100, 187) 0%, rgb(102, 44, 197) 85%);
  --hover-orange: #f55d00;
}

body {
  height: 100vh;
  font-family: var(--base-font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--main-background-color);
}

@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/ubuntu-regular-webfont.woff") format("woff2"), url("../../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Righteous";
  src: url("../../fonts/righteous-regular-webfont.woff2") format("woff2"), url("../../fonts/righteous-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.text-inner {
  font-family: "Ubuntu";
  font-size: 18px;
  line-height: 1.17;
  font-weight: 400;
  font-style: normal;
}

.text-inner-small {
  font-family: "Ubuntu";
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  font-style: normal;
}

.text-heading-1 {
  font-family: "Righteous";
  font-size: 70px;
  line-height: 1.24;
  font-weight: 400;
  font-style: normal;
}

.text-heading-2 {
  font-family: "Righteous";
  font-size: 48px;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
}

.text-heading-3 {
  font-family: "Righteous";
  font-size: 36px;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
}

.text-subheading {
  font-family: "Righteous";
  font-size: 34px;
  line-height: 1.235;
  font-weight: 400;
  font-style: normal;
}

.text-title {
  font-family: "Righteous";
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
}

.text-button {
  font-family: "Righteous";
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
}

.text-button-small {
  font-family: "Righteous";
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
}

@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cat-paw:before {
  content: "\e900";
  color: var(--main-orange);
}

.icon-facebook:before {
  content: "\e901";
  color: var(--main-white);
}

.icon-instagram:before {
  content: "\e902";
  color: var(--main-white);
}

.icon-lessons:before {
  content: "\e903";
  color: var(--main-white);
}

.icon-likes:before {
  content: "\e904";
  color: var(--main-white);
}

.icon-play:before {
  content: "\e905";
  color: var(--main-orange);
}

.icon-student-hat:before {
  content: "\e906";
  color: var(--main-white);
}

.icon-youtube:before {
  content: "\e907";
  color: var(--main-white);
}

.color-white {
  color: var(--main-white);
}

.color-orange {
  color: var(--main-orange);
}

.color-purple {
  color: var(--main-purple);
}

.background-color-main {
  background-color: var(--main-purple);
}

.background-color-orange {
  background-color: var(--main-orange);
}

.background-color-orange-gradient {
  background-color: var(--orange-gradient-fallback);
  background-color: var(--orange-gradient);
}

.background-color-purple-gradient {
  background-color: var(--purple-gradient-fallback);
  background-color: var(--purple-gradient);
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.align-flex-center {
  display: flex;
  align-items: center;
}

.button {
  padding: 10px 16px;
  border-radius: 24px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.button::before {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.button--primary {
  color: var(--main-white);
  background-color: var(--main-orange);
}
.button--primary:hover {
  background-color: var(--hover-orange);
}
.button--primary:hover::before {
  background-color: var(--hover-orange);
}
.button--secondary {
  color: var(--main-orange);
  background-color: transparent;
}
.button--secondary:hover {
  color: var(--main-white);
  border-color: var(--main-white);
}
.button--secondary:hover::before {
  color: var(--main-white);
  border-color: var(--main-white);
}
.button.menu__link:hover::after {
  width: 0%;
}

.menu__list {
  display: none;
  gap: 32px;
}
.menu__button {
  font-size: 40px;
}
.menu__link {
  position: relative;
  padding-bottom: 10px;
}
.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: var(--main-orange);
  transition: width 0.1s ease-out;
}
.menu__link:hover::after {
  width: 100%;
}
.menu__toggle {
  display: none;
}

@media screen and (min-width: 820px) {
  .menu__list {
    display: flex;
  }
  .menu__button {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .menu__button {
    font-size: 60px;
  }
}
.logo {
  gap: 10px;
}
.logo__image {
  width: 40px;
}

@media screen and (min-width: 820px) {
  .logo {
    gap: 20px;
  }
}
@media screen and (min-width: 400px) {
  .logo__image {
    width: 60px;
  }
  .logo__title {
    font-family: "Righteous";
    font-size: 36px;
    line-height: 1.25;
    font-weight: 400;
    font-style: normal;
  }
}
.header {
  padding-top: 30px;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
