@use 'menu';
@use 'logo';
@use '../../abstracts/mixins/flex';
@use '../../abstracts/variables/colors';

.header {
  @include flex.flex-row($align: center, $justify: space-between);
  position: sticky;
  top: 0;
  background-color: colors.$background-color;
  z-index: 999;
  padding: 15px 0;
  padding: 30px 0;
}
