@use 'menu';
@use 'logo';
@use '../../abstracts/variables/breakpoints';
@use '../../abstracts/mixins/flex';
@use '../../abstracts/variables/colors';

.header {
  @include flex.flex-row($align: center, $justify: space-between);
  position: sticky;
  top: 0;
  background-color: colors.$background-color;
  z-index: 999;
  padding: 15px 0;
}

@media screen and (min-width: breakpoints.$breakpoint-mobile-max) {
  .header {
    padding: 30px 40px;
  }
}
