:root {
  box-sizing: border-box;
  --base-font-family: Arial;
  --base-text-color: white;
  --base-background-color: black;
}

body {
  height: 100vh;
  font-family: var(--base-font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--base-text-color);
  background-color: var(--base-background-color);
}
