.color-white {
  color: var(--main-white);
}

.color-orange {
  color: var(--main-orange);
}

.color-purple {
  color: var(--main-purple);
}

.background-color-main {
  background-color: var(--main-purple);
}

.background-color-orange {
  background-color: var(--main-orange);
}

.background-color-orange-gradient {
  background-color: var(--orange-gradient-fallback);
  background-color: var(--orange-gradient);
}

.background-color-purple-gradient {
  background-color: var(--purple-gradient-fallback);
  background-color: var(--purple-gradient);
}
