.spacing-xsm {
  margin-bottom: 15px;
}


.spacing-sm {
  margin-bottom: 30px;
}

.spacing-md {
  margin-bottom: 50px;
}

.spacing-lg {
  margin-bottom: 80px;
}

.spacing-xlg {
  margin-bottom: 100px;
}

.vertical-spacing-line-sm {
  margin: 20px 0;
  height: 4px;
}
