.section-spacing-sm {
  margin-bottom: 30px;
}

.section-spacing-md {
  margin-bottom: 50px;
}

.section-spacing-lg {
  margin-bottom: 80px;
}

.vertical-spacing-line-sm {
  margin: 20px 0;
  height: 4px;
}
